@page
@model DipWeb.Pages.Базовая_величина.IndexModel

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.БазоваяВеличина[0].ЗначениеБВ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.БазоваяВеличина[0].ДатаПринятия)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.БазоваяВеличина) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ЗначениеБВ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДатаПринятия)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ИдентификаторБазовойВеличины">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ИдентификаторБазовойВеличины">Детали</a> |
                <a asp-page="./Delete" asp-route-id="@item.ИдентификаторБазовойВеличины">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
