@page
@model DipWeb.Pages.Учетные_записи.IndexModel

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-page="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.УчетныеЗаписи[0].ИдентификаторЮридическогоЛица)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.УчетныеЗаписи[0].ИдентификаторФизическогоЛица)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.УчетныеЗаписи[0].Логин)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.УчетныеЗаписи[0].Пароль)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.УчетныеЗаписи[0].ДатаСозданияУчетнойЗаписи)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.УчетныеЗаписи) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ИдентификаторЮридическогоЛица)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ИдентификаторФизическогоЛица)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Логин)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Пароль)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДатаСозданияУчетнойЗаписи)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ИдентификаторУчетнойЗаписи">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ИдентификаторУчетнойЗаписи">Детали</a> |
                <a asp-page="./Delete" asp-route-id="@item.ИдентификаторУчетнойЗаписи">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
